<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'edit' }) do |f| %>

    <fieldset>

      <legend class="legend">SLACKIT</legend>

      <div class="input">
        <%= f.text_field :username, placeholder: "Username", autofocus: true %>
        <span class='span-username'><i class="fa fa-user" aria-hidden="true"></i></span>
      </div>

      <div class="input">
        <%= f.email_field :email, class: 'email'%>
        <span><i class="fa fa-envelope-o"></i></span>
      </div>

      <div class="input">
        <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "off" %>
        <span><i class="fa fa-lock"></i></span>
      </div>

      <div class="input">
        <%= f.password_field :password, placeholder: "New Password", autocomplete: "off" %>
        <span><i class="fa fa-lock"></i></span>
      </div>

      <div class="input">
        <%= f.password_field :password_confirmation, autocomplete: "off", 
                placeholder: "Confirm New Password" %>
        <span><i class="fa fa-lock"></i></span>
      </div>

      <div>
        <button type="submit" class="submit">
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>        
      </div>

    </fieldset>


<% end %>

<%= devise_error_messages! %>

<%= link_to 'Back', '#', :onClick => 'history.go(-1)', class: 'back' %>