  <%= form_for(resource, as: resource_name, url: session_path(resource_name), 
      :html=>{:class=> 'login'}) do |f| %>

    <fieldset>

      <legend class="legend">SLACKIT</legend>

      <div class="input">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", id: 'email'%>
        <span class="email-span"><i class="fa fa-envelope-o"></i></span>
      </div>

      <div class="input">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: 'password' %>
        <span><i class="fa fa-lock"></i></span>
      </div>

      <div>
        <button type="submit" class="submit">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>        
      </div>

    </fieldset>

  <% end %>
  <div class='guest'>Guest</div>
  <%= link_to "Sign up", new_registration_path(resource_name), class: 'sign-up' %>
  <button class='github' onClick="window.location = 'http://github.com/JeffNguyen/Slackit'"><i class="fa fa-github fa-lg" aria-hidden="true"></i></button>
  
  <%= devise_error_messages! %>