<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- THIS IS FOR POTENTIAL CSRF WEIRDNESS when you have two instances of the same chat and there is a time out or some cache error that won't let you chat -->
    <%#= csrf_meta_tags %>

    <title><%= content_for?(:title) ? yield(:title) : "Slackit" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <script>
      window.current_user = {
        id: '<%= current_user.id if current_user %>',
        username: '<%= current_user.username if current_user %>',
        sign_in_count: '<%= current_user.sign_in_count if current_user %>'
      }
    </script>
    <%= yield %>
    <!--p class="notice"--><%#= notice %><!--/p-->
    <p class="alert"><%= alert %></p>

    <script>
      // https://github.com/plataformatec/devise/wiki/How-To:-Create-a-guest-user
      $('.guest').click(function() {
        username = 'anon' + '<%= Faker::Number.number(5) %>';
        email = '<%= Faker::Internet.email('Guest') %>';
        console.log(email);
        password = 'password';

        var email_input = $('#email');
        var password_input = $('#password');
        email_input.val(email);
        password_input.val(password);

        $.ajax({
          url: '/users',
          method: 'POST',
          dataType: 'json',
          data: {user: 
            {username: username, 
             email: email,
             password: password,
             password_confirmation: password
            }
           },
           success: function(){

           }
        });

        $('.submit').click();
      });

      $( ".input" ).focusin(function() {
        $( this ).find( "span" ).animate({"opacity":"0"}, 200);
      });

      $( ".input" ).focusout(function() {
        $( this ).find( "span" ).animate({"opacity":"1"}, 300);
      });
      $(".login").submit(function(){
        $(".submit").css({"background":"#ed8928", "border-color":"#ed8928;", "color":"#fff"});
      });
      $(".signup").submit(function(){
        $(".submit").css({"background":"#ed8928", "border-color":"#ed8928;", "color":"#fff"});
      });
    </script>
  </body>
</html>

